// Background
$primary_bg: #fef7f7;
$secondary_bg: #ba90c6;
$shadow: #ccc;
$cellHover: #e9d7f0;

// Color Palatte
$primary: #000;
$neutral: #fff;
$color1: #fdf4f5;
$color2: #e8a0bf;
$color3: #ba90c6;
$color4: #c0dbea;
$color5: #ff7f69;
$color6: #f2f0f0;
$color7: #674d6e;

// Footer Text
$copyright: $neutral;
$owner_hover: $color7;
